.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "question-1 question-1 question-1"
        ". reponse-1 ."
        ". reponse-2 ."
        ". reponse-3 ."
        ". reponse-4 ."
        ". valider .";
}

.question-1 {
    align-self: center;
    grid-area: question-1;
    background-color: rgb(192, 47, 47);
}

.reponse-1 {
    align-self: center;
    grid-area: reponse-1;
    background-color: rgb(30, 30, 198);
}

.reponse-2 {
    align-self: center;
    grid-area: reponse-2;
    background-color: blueviolet;
}

.reponse-3 {
    align-self: center;
    grid-area: reponse-3;
    background-color: rgb(31, 192, 96);
}

.reponse-4 {
    align-self: center;
    grid-area: reponse-4;
    background-color: crimson;
}

.valider {
    justify-self: center;
    align-self: center;
    grid-area: valider;
    background-color: coral;

}

.question-1,
.reponse-1,
.reponse-2,
.reponse-3,
.reponse-4,
.valider {
    width: auto;
    height: auto;
    border: 2px rgb(101, 93, 93) solid;
}