body {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    background-color: #f5f5dc;
}

main {
    margin-top: 90px;
    margin-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    background-color: #c8ad7f;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;

}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
    background-color: #fab005;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.6em
}

.copyright {
    margin: 2px
}

footer,
header {
    text-align: center;
    width: 100%;
    font-family: 'Permanent Marker', arial, "sans serif";
    font-weight: lighter;
}

.answerPage {
    text-align: center;
}

.buttonNext {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 50px;


}

.next {

    background-color: #FFBD3A;
    border-radius: 14px;
    font-size: large;
    font-family: 'Lucida Sans';
    width: 200px;
    height: 50px;


}

.bear {
    display: flex;
    margin: auto;
}

.cheersPic {
    display: flex;
    margin: auto;
}

.endOfQuizz {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "question question question"
        ". reponse-1 ."
        ". reponse-2 ."
        ". reponse-3 ."
        ". reponse-4 ."
        ". valider .";
}

.question {
    align-self: center;
    grid-area: question;
    background-color: #fa5252;
}

.reponse-1 {
    align-self: center;
    grid-area: reponse-1;
    background-color: #228be6;
}

.reponse-2 {
    align-self: center;
    grid-area: reponse-2;
    background-color: #7950f2;
}

.reponse-3 {
    align-self: center;
    grid-area: reponse-3;
    background-color: #12b886;
}

.reponse-4 {
    align-self: center;
    grid-area: reponse-4;
    background-color: #e64980;
}

.valider {
    justify-self: center;
    align-self: center;
    grid-area: valider;
    background-color: #ffc45e;

}

.question,
.reponse-1,
.reponse-2,
.reponse-3,
.reponse-4,
.valider {
    display: flex;
    /* afficher les éléments comme une boîte flexible */
    justify-content: center;
    /* centrer le contenu horizontalement */
    align-items: center;
    /* centrer le contenu verticalement */
    width: auto;
    height: auto;
    border: 2px rgb(101, 93, 93) solid;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px 20px;
        padding: 20px;
        grid-template-areas:
            "question question"
            "reponse-1 reponse-2"
            "reponse-3 reponse-4"
            "valider valider";
    }

    footer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    footer,
    header {
        text-align: center;
        /* left: 10%; */
        width: 100%;
    }


    .buttonNext {
        display: flex;
        justify-content: space-around;
        width: 400px;
        height: 50px;


    }

    .next {
        background-color: #FFBD3A;
        border-radius: 14px;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 200px;
        height: 50px;
    }

}