.titre {
    font-size: 2em;
}

/* Body original couleur + padding pourquoi ??? */
body {

    /* padding-top: 60px;
    padding-bottom: 60px;*/
    margin: 0;

    background-color: #f5f5dc;
}

/*POur moi non OK // Si besoin sur la page html concerné utilisé une class // utilité des 3 margin + valeur de la width ?*/

main {
    margin-top: 120px;

    margin-bottom: 60px;
    /*width: 90%;*/
    /* margin: auto;*/

}

/*? de qui? a voir*/
/*a {
    text-decoration : none;
}*/

/* Margin pour décoller du haut du footer */

.copyright {
    margin: 2px
}

/* Centrage du texte sur la page*/
.answerPage {
    text-align: center;
}

/*image et score de la page end mobilefirst*/
.bear {
    display: flex;
    margin: auto;
}

.scoreTitle {
    font-size: 120%;
}

.userScore {
    font-size: 140%;
    margin-left: 15px;
}

.beerCounter {
    position: flex;
    margin-left: 50px;
    margin-top: -70px;
}

#wrongAnswer{
    display:none;
}

#rightAnswer{
    display:none;
}
/*Toute cette partie est ok pour moi (tv)*/
/*Bouton  page answer OK*/

.buttonNext {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    margin: auto;
}



.next {
    background-color: #FFBD3A;
    border-radius: 14px;
    font-size: large;
    font-family: 'Lucida Sans';
    width: 200px;
    height: 50px;
    padding: 0;
}

.cheersPic {
    display: flex;
    margin: auto;
}

.endOfQuizz {
    text-align: center;
}

/*Ajout du pseudo sur la page endQuizz html*/
/*.displayPseudo {
    text-align: center;
    font-size: 180%;
}

.scoreSentence {
    font-size: 120%;
}
*/

/*Header pour moi (tv) c'est OK*/

header {
    position: fixed;
    top: 0;
    background-color: #c8ad7f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2em;
}

/* css grid mobile first */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px 20px;
    grid-template-areas:
        "question question question"
        ". reponse-1 ."
        ". reponse-2 ."
        ". reponse-3 ."
        ". reponse-4 ."
        ". valider .";
}

.question {
    grid-area: question;
    background-color: #fa5252;
}

.reponse-1 {
    grid-area: reponse-1;
    background-color: #228be6;
}

.reponse-2 {
    grid-area: reponse-2;
    background-color: #7950f2;
}

.reponse-3 {
    grid-area: reponse-3;
    background-color: #12b886;
}

.reponse-4 {
    grid-area: reponse-4;
    background-color: #e64980;
}

.valider {
    grid-area: valider;
    background-color: #ffc45e;
}

.valider:hover,
.next:hover {
    background-color: coral;
}

.valider:active,
.next:active {
    background-color: green;
}

/* TODO : Reprende les responses --> Mettre des dimensions au box + mettre un active pour manifester le choix de la réponse à l'utilisateur */
.question,
.reponse-1,
.reponse-2,
.reponse-3,
.reponse-4,
.valider {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(101, 93, 93) solid;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* FIN du css grid mobile first */

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
    background-color: #fab005;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.8em
}

footer,
header {
    text-align: center;
    width: 100%;
    font-family: 'Permanent Marker', arial, "sans serif";
    font-weight: lighter;
}

.logo {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
}

/*MAJ 270323.15:38 - à vérifier sur le index si ok / NOK - TODO : Utiliser une classe !! rattaché à l'inde.html */
.quizz {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;

    font-size: 4em;
    margin-top: 60px;

}

/* Rattaché à Hello.js (easter egg caché by Fabien XD */
.hello {
    font-size: 2em;
    text-align: center;
}

/*Bouton non fonctionnel sur la page index.html*/
button {
    /* TODO - Ajouter une classe !!! */
    width: 200px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 6px 6px 0px;
    border-style: solid;
    position: center;
    font-size: 25px;
    display: block;
    margin: auto;
    background-color: yellow;
}

/* au passage en vue Desktop l'affichage grid change*/
@media screen and (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 60px 20px;
        grid-template-areas:
            "question question question question"
            "reponse-1 reponse-1 reponse-2 reponse-2"
            "reponse-3 reponse-3 reponse-4 reponse-4"
            ". valider valider .";
    }

/*images et counter pour page endquizz*/
    .bear {
        width: 40%;
    }

    .scoreTitle {
        font-size: 190%;
        margin-left: 140px;
    }

    .userScore {
        margin-left: 220px;
        font-size: 200%;
    }

    .beerCounter {
        position: flex;
        margin-left: 260px;
        margin-top: -90px;
        width: 10%;
    }

   .buttonNext {
        display: flex;
        margin-left: 400px;
        width: 400px;
        height: 30px;
    }

    .next {
        background-color: #FFBD3A;
        border-radius: 14px;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 200px;
        height: 50px;
        margin-bottom: 400px;
    }

    .endOfQuizz {
        text-align: center;
    }

/*recup le pseudo sur la page endQuizz*/
    .displayPseudo {
        text-align: center;
    }


    footer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }


    .logo {
        max-width: 600px;
    }

}